{% extends ":default:layout.html.twig" %}
{% block form %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block twit %}
    {% if twits is empty %}
        {% if post == 'POST' %}
            <h2>Aucun top tweets</h2>
        {% endif %}
    {% else %}
        <h2>Top Tweet(s) des dernières 24h</h2>
        {% for twit in twits %}
            <section style="background-color: rgb(190, 226, 234); float: left; border-radius: 7px; padding: 3%; width: 95%; margin: 1%; position: relative;">
                <img src="https://g.twimg.com/Twitter_logo_blue.png" width="3%" height="3%"/>
                <a href="http://twitter.com/{{ twit.user }}">{{ twit.user }}</a>
                <p>{{ twit.contents }}</p>
                <p>{{ twit.createAt|date('Y-m-d') }}</p>
                <p>{{ twit.location }}</p>
            </section>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block render %}
    {% if twits is not empty %}
        <script>
            $(function(){
                $("#doughnutChart").drawDoughnutChart([
                    { title: "Tweets",         value : {{ twits|length}},  color: "#2C3E50" }
                ]);
            });
        </script>
        <h2 id="scroll" href="#">Reporting</h2>
        <section style="background-color: #D5D5D5; float: left; border-radius: 7px; padding: 3%; width: 95%; margin: 1%; position: relative; height: 500px;">
            <div id="doughnutChart" class="chart"></div>
            {% for sent in sentiments %}
                <p>{{ sent['docSentiment']['type'] }}</p>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}